@import '../../styles/_mixins.scss';
@import '../../styles/_variables.scss';

.wp-responsive-open {
  .v-navigation-drawer--close{
    opacity: 0;
    z-index: 0;
  }
}
.routes-navigation-drawer{
  width: auto;
  .route-icon {
    width: 35px;
    margin: auto;
  }
  z-index: 1;
  transition-property: transform,width,-webkit-transform, opacity !important ;
  // top: $toolbar-height;
    opacity: 1;
  .v-list{
    position: -webkit-sticky; /* Safari */
    position: sticky;
  }
  // .v-footer{
  //   position: -webkit-sticky;
  //   position: sticky;
  //   z-index: 999;
  //   top: 96vh;
  // }
  .mini-avatar{
      justify-content: center !important;
  }
  .v-subheader{
    font-size: 1rem;
    height: auto;
    color: #333;
  }
}
.v-navigation-drawer {
    overflow-y: visible !important;
    overflow-x: visible !important;
}
.main-nav{
    top: $sm-toolbar-height + $breadcrumb-height !important;
    z-index: 6 !important;
    @include desktop{
      top: $toolbar-height + $breadcrumb-height !important;
    }
}
