/**
 * Customized version of bootstrap using variables from _variables.scss.
 * This file is loaded via separate loader thus allowing to use original bootstrap classes (e.g. .btn-default) through out the app.
 */
// @import '../../node_modules/bootstrap/scss/functions';
@use "variables" as *;
// @import '../../node_modules/bootstrap/scss/variables';
// @import '../../node_modules/bootstrap/scss/mixins';
@use "mixins" as *;

.theme--dark.application {
  background-color: transparent;
  color: #fff;
}
.v-navigation-drawer {
  opacity: 1;
  -webkit-transition: opacity 2s; /* Safari prior 6.1 */
  transition: opacity 2s;
  transition-property: transform, width, -webkit-transform, opacity !important;
}

.v-navigation-drawer--close {
  opacity: 0;
  -webkit-transition: opacity 2s; /* Safari prior 6.1 */
  transition: opacity 2s;
}
