.compass-welcome {
  margin: 0;
  min-height: calc(100vh - 200px);
  display: flex;
  align-items: center;
  justify-content: center;

  .step-1-layout {
    min-height: auto;
  }

  .circle-container,
  .front,
  .back {
    width: 350px;
    height: 350px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    position: relative;
  }

  .circle,
  .outer-ring,
  .outer-outer-ring {
    transition: 0.51s;
    transform-style: preserve-3d;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .circle {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    top: 24px;
    // left: 25px;
    position: absolute;
    // opacity: 0;
  }

  .front,
  .back {
    position: absolute;
    backface-visibility: hidden;
    border-radius: 50%;
    background: rgba(102, 221, 225, 1);
    background: radial-gradient(
      ellipse at top center,
      rgba(102, 221, 255, 0.95) 0%,
      rgba(37, 161, 197, 0.75) 100%
    );
    // box-shadow: inset 0 0 20px #25a1c5, inset 10px 45px 33px #66ddff, inset -5px -10px 35px #3ecd74, inset -10px 30px 70px #25a1c5, inset 0px -10px 35px #3ecd74, 0 0 20px #66ddff, 0px 0 5px #25a1c5, 0px 0 5px #3ecd74;
  }

  .front {
    text-align: center;
    z-index: 2;
    padding: 80px 0px;
  }

  .front p {
    /* margin-top: 1.2em; */
    /* font-family: "Open Sans", sans-serif; */
    /* font-weight: 700; */
    /* font-size: 3em; */
    /* text-align: center; */
    /* color: #c02227; */
  }

  .back {
    transform: rotate3d(45, 45, 0, 180deg);
    padding: 75px 15px;
    box-shadow: inset 0 0 20px #25a1c5, inset 10px 45px 33px #66ddff,
      inset -5px -10px 35px #3ecd74, inset -10px 30px 70px #25a1c5,
      inset 0px -10px 35px #3ecd74, 0 0 50px #66ddff, 0px 0 5px #25a1c5,
      0px 0 5px #3ecd74;
  }

  .back img {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .outer-ring {
    position: absolute;
    top: 12px;
    left: -14px;
    border-radius: 50%;
    width: 377px;
    border: 3px solid #3ecd74;
    height: 377px;
    background-color: rgba(255, 255, 255, 0);
  }
  .outer-outer-ring {
    border-radius: 50%;
    border: 3px solid #25a1c5;
    width: 400px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    left: -25px;
  }

  .circle-container:hover .circle {
    transform: rotate3d(45, 45, 0, 180deg);
  }

  .circle-container:hover .outer-ring {
    transform: rotate3d(25, 0, 0, 180deg);
  }

  .circle-container:hover .outer-outer-ring {
    transform: rotate3d(0, 25, 0, 180deg);
  }

  .single-widget-container {
    position: relative;
    width: 400px;
    z-index: 999;
    margin: auto auto;
  }
}
