// Variables and mixins are auto-injected by Vite

.billboard {
  .v-card {
    min-height: 230px;
    max-height: 230px;
    overflow: hidden;

    position: relative;
    .open-billboard {
      opacity: 1;
      width: 100%;
      text-align: center;
    }
    .mini-billboard {
      width: 100%;
      text-align: center;
      @include phone {
        opacity: 0;
      }
    }
    margin: 0;
    background: rgba(35, 40, 45, 0.84);

    h1 {
      margin-left: -5px;
    }
    .user-avatar {
      max-width: 100%;
      overflow: hidden;
      @include phone {
        height: 100%;
        max-height: 25vh;
        margin-left: -100%;
        margin-right: 5rem;
        max-width: none;
      }
      @include tablet {
        max-width: 80%;
        margin-left: -80%;
        max-height: 22vh;
      }
      @include desktop {
        max-width: 80%;
        max-height: none;
        max-height: none;
        position: absolute;
        width: 200px;
      }
      @include fk {
        height: 35vh;
        left: -3rem;
        position: absolute;
        max-width: none;
      }
    }

    .overflow-hidden {
      overflow: hidden;
    }
    .billboard-img {
      @include phone {
        height: 100%;
        max-height: 25vh;
        margin-left: -100%;
        margin-right: 5rem;
        max-width: none;
      }
      @include tablet {
        max-width: 80%;
        margin-left: -80%;
        max-height: 22vh;
      }
      @include desktop {
        max-width: 80%;
        max-height: none;
        max-width: 100%;
        max-height: none;
        width: 80%;
        position: absolute;
        width: 39vh;
        top: 5%;
        left: -7vh;
      }
      @include fk {
        height: 35vh;
        left: -3rem;
        position: absolute;
        max-width: none;
      }
    }
    .breadcrumb {
      li {
        margin: 0;
      }
    }
  }
  .routes {
    z-index: 1;
    max-width: 300px !important;
    .v-icon {
      width: 20px;
    }
  }
}

.breadcrumbs {
  position: -webkit-sticky;
  position: sticky;
  top: 4px;
  z-index: 0;
}
