@use "../../styles/mixins";

.billboard {
  .v-card {
    min-height: 230px;
    max-height: 230px;
    overflow: hidden;

    position: relative;
    .open-billboard {
      opacity: 1;
      width: 100%;
      text-align: center;
    }
    .mini-billboard {
      width: 100%;
      text-align: center;
      @include mixins.phone {
        opacity: 0;
      }
    }
    margin: 0;
    background: rgba(35, 40, 45, 0.84);

    h1 {
      margin-left: -5px;
    }
    .user-avatar {
      max-width: 100%;
      overflow: hidden;
      @include mixins.phone {
        height: 100%;
        max-height: 25vh;
        margin-left: -100%;
        margin-right: 5rem;
        max-width: none;
      }
      @include mixins.tablet {
        // margin-left: -50px;
        // margin-top: -25px;
        // margin: 2%;
        max-width: 80%;
        // width: 100%;
        margin-left: -80%;
        max-height: 22vh;
      }
      @include mixins.desktop {
        // margin-left: -50px;
        // margin-top: -25px;
        // margin: 2%;
        max-width: 80%;
        max-height: none;
        max-height: none;
        position: absolute;
        width: 200px;
      }
      @include mixins.fk {
        height: 35vh;
        left: -3rem;
        position: absolute;
        max-width: none;
      }
    }

    .overflow-hidden {
      overflow: hidden;
    }
    .billboard-img {
      @include mixins.phone {
        height: 100%;
        max-height: 25vh;
        margin-left: -100%;
        margin-right: 5rem;
        max-width: none;
      }
      @include mixins.tablet {
        // margin-left: -50px;
        // margin-top: -25px;
        // margin: 2%;
        max-width: 80%;
        // width: 100%;
        margin-left: -80%;
        max-height: 22vh;
      }
      @include mixins.desktop {
        // margin-left: -50px;
        // margin-top: -25px;
        // margin: 2%;
        max-width: 80%;
        max-height: none;
        max-width: 100%;
        max-height: none;
        width: 80%;
        position: absolute;
        width: 39vh;
        top: 5%;
        left: -7vh;
      }
      @include mixins.fk {
        height: 35vh;
        left: -3rem;
        position: absolute;
        max-width: none;
      }
    }
    .breadcrumb {
      // margin-left: calc(1rem + 1px);
      // margin-bottom: 0;
      li {
        margin: 0;
      }
    }
    // max-height: 215px;
  }
  .routes {
    z-index: 1;
    max-width: 300px !important;
    .v-icon {
      width: 20px;
    }
  }

  // .bg-addition {
  //   bottom: 15px;
  //   width: 100%;
  //   position: absolute;
  //   background-color: hsla(0,0%,20%,.21)!important;
  // }
}

.breadcrumbs {
  position: -webkit-sticky;
  position: sticky;
  top: 4px;
  z-index: 0;
}
