.x-divider {
  &.v-divider {
    border-color: rgba(255, 255, 255, 0.08);
    opacity: 1;

    &.v-divider--vertical {
      border-right-width: 1px;
    }
    
    // Gradient flare for dividers
    &--inset {
       background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.1), transparent);
       border: none;
       height: 1px;
    }
  }
}
